/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <180>;
        };

        ltq: ltq {
            compatible = "zmk,behavior-hold-tap";
            label = "LTQ";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <600>;
            global-quick-tap;
            quick-tap-ms = <400>;
        };
    };

    combos {
        compatible = "zmk,combos";

        left_bkt {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <4 3>;
            timeout-ms = <50>;
        };

        right_bkt {
            bindings = <&kp RBKT>;
            key-positions = <7 8>;
            timeout-ms = <50>;
        };

        left_par {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <15 16>;
            timeout-ms = <50>;
        };

        right_par {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <19 20>;
            timeout-ms = <50>;
        };

        left_brace {
            bindings = <&kp LEFT_BRACE>;
            key-positions = <27 28>;
            timeout-ms = <50>;
        };

        right_brace {
            bindings = <&kp RIGHT_BRACE>;
            key-positions = <32 31>;
            timeout-ms = <50>;
        };

        bac {
            bindings = <&kp BACKSLASH>;
            key-positions = <5 6>;
        };

        pipe {
            bindings = <&kp PIPE>;
            key-positions = <17 18>;
        };
    };

    macros {
        windows_taskbar: windows_taskbar {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(B) &kp LS(TAB)>;
            label = "WINDOWS_TASKBAR";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC   &kp Q           &kp W           &kp E        &kp R             &kp T      &kp Y    &kp U         &kp I        &kp O            &kp P               &kp BSPC
&kp CAPS  &hm LEFT_GUI A  &hm LEFT_ALT S  &hm LCTRL D  &hm LEFT_SHIFT F  &kp G      &kp H    &hm RSHIFT J  &hm RCTRL K  &hm RIGHT_ALT L  &hm RGUI SEMICOLON  &kp SQT
&kp DEL   &kp Z           &kp X           &kp C        &kp V             &kp B      &kp N    &kp M         &kp COMMA    &kp DOT          &kp QUESTION        &kp MINUS
                                          &mo 3        &kp SPACE         &lt 2 TAB  &kp RET  &mo 1         &mo 4
            >;
        };

        numbers {
            bindings = <
&trans   &kp GRAVE      &kp N7  &kp N8   &kp N9     &kp FSLH   &kp PIPE   &kp LS(LEFT_BRACE)                &kp RIGHT_BRACE                      &kp LESS_THAN               &kp GREATER_THAN             &kp BACKSPACE
&trans   &kp LS(COLON)  &kp N4  &kp N5   &kp N6     &kp EQUAL  &kp BSLH   &hm RIGHT_SHIFT LEFT_PARENTHESIS  &hm RIGHT_CONTROL RIGHT_PARENTHESIS  &hm RIGHT_ALT LEFT_BRACKET  &hm RIGHT_GUI RIGHT_BRACKET  &trans
&kp DEL  &kp DOT        &kp N1  &kp N2   &kp N3     &kp MINUS  &trans     &kp MINUS                         &kp UNDERSCORE                       &kp HOME                    &kp END                      &trans
                                &kp TAB  &kp SPACE  &kp N0     &kp ENTER  &trans                            &trans
            >;
        };

        cursors {
            bindings = <
&trans   &trans    &trans    &windows_taskbar  &trans     &trans   &trans    &trans     &trans     &trans     &trans              &kp BSPC
&trans   &kp LGUI  &kp LALT  &kp LCTRL         &kp LSHFT  &trans   &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp K_CONTEXT_MENU  &trans
&kp DEL  &trans    &mo 5     &trans            &trans     &trans   &trans    &kp PG_DN  &kp PG_UP  &kp HOME   &kp END             &trans
                             &trans            &trans     &kp TAB  &kp RET   &kp TAB    &trans
            >;
        };

        keyboard {
            bindings = <
&bt BT_CLR_ALL                   &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3  &trans  &trans  &kp C_BRIGHTNESS_INC  &kp C_BRI_DEC  &trans      &trans  &bootloader
&rgb_ug RGB_TOG                  &rgb_ug RGB_BRI  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF  &trans        &trans  &trans  &kp C_VOLUME_UP       &kp C_VOL_DN   &kp C_MUTE  &trans  &ext_power EP_TOG
&rgb_ug RGB_COLOR_HSB(0,100,99)  &rgb_ug RGB_HUI  &rgb_ug RGB_HUD  &trans           &trans        &trans  &trans  &trans                &trans         &trans      &trans  &trans
                                                                   &trans           &trans        &trans  &trans  &trans                &trans
            >;
        };

        f_keys {
            bindings = <
&trans   &kp F12  &kp F7  &kp F8  &kp F9     &trans   &trans     &trans     &trans     &trans    &trans    &kp BSPC
&trans   &kp F11  &kp F4  &kp F5  &kp F6     &trans   &trans     &kp RSHFT  &kp RCTRL  &kp RALT  &kp RGUI  &trans
&kp DEL  &kp F10  &kp F1  &kp F2  &kp F3     &trans   &trans     &trans     &trans     &trans    &trans    &trans
                          &trans  &kp SPACE  &kp TAB  &kp ENTER  &trans     &trans
            >;
        };

        mouse {
            bindings = <
&trans   &trans    &trans    &trans     &trans     &trans   &trans            &trans            &trans           &trans           &trans  &kp BSPC
&trans   &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &trans   &mmv MOVE_LEFT    &mmv MOVE_DOWN    &mmv MOVE_UP     &mmv MOVE_RIGHT  &trans  &trans
&kp DEL  &trans    &trans    &trans     &trans     &trans   &msc MOVE_X(-20)  &msc MOVE_Y(-20)  &msc MOVE_Y(20)  &msc MOVE_X(20)  &trans  &trans
                             &trans     &kp SPACE  &kp TAB  &mkp LCLK         &mkp RCLK         &mkp MCLK
            >;
        };
    };
};

&led_strip { chain-length = <64>; };
